*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

header .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 2px;
}

.container .logo{
    margin-right: auto;
    /* color: #e50914; */
    height: 30px;
}

.container nav a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

.container nav a:visited{
    text-decoration: none;
    color: white;
}